.filter-section {
  @include display-flex();
  flex-direction: row;
  height: 50px;
  width: 100%;
  
  .filters {
    background-color: $filters-text-color;
    border-radius: 15px;
    color: $text-color;
    font-size: 20px;
    height: fit-content;
    @include display-flex();
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 5px;
  
    button {
      background: none;
      border: none;
      font-weight: bold;
      outline: none;
  
      &:hover {
        color: $remove-filter-button;
      }
    }
  }
}