.table {
  @include outside-box();
  overflow: auto;
  font-size: 18px;

  table {
    border-collapse: collapse;
  }

  th {
    background-color: lighten(black, 10);
    border: 2px solid black;
    font-weight: bold;
    padding: 10px;
    word-wrap: break-word;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: lighten(rgb(68, 67, 67), 10);
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: lighten(rgb(68, 67, 67), 50);
      color: black;
      text-align: center;
    }
  }
}