.planet-table-container {
  margin: 64px auto 0;
  overflow-x: auto;
  max-width: 1300px;
  padding: 0 20px;
}

.planet-table-container table {
  width: 100%;
  border-spacing: 0 8px;
}

.planet-table-container table th {
  color: #969cb3;
  font-weight: normal;
  padding: 20px 16px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid black;

}

.planet-table-container table td {
  padding: 20px 16px;
  border: 1px solid black;
  background: #fff;
  font-size: 16px;
  font-weight: normal;
  color: #969cb3;
}

.planet-table-container table td.field {
  color: #363f5f;
}

.planet-table-container table td.outcome {
  color: #e83f5b;
}

.planet-table-container table td div {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.planet-table-container table td button {
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  background: none;
  color: red;
}

.planet-table-container table td button.edit-btn {
  color: rgb(255, 139, 62);
}

.planet-table-container table td button + button {
  margin-left: 5px;
}

.planet-table-container table td button svg {
  pointer-events: none;
}

.planet-table-container table td:first-child {
  border-radius: 8px 0 0 8px;
}

.planet-table-container table td:last-child {
  border-radius: 0 8px 8px 0;
}

.planet-table-container table th:first-child {
  border-radius: 8px 0 0 8px;
}

.planet-table-container table th:last-child {
  border-radius: 0 8px 8px 0;
}
