body {
  background-color: rgba(228, 228, 228, 0.822);
}

label, .li-span, .btn {
  margin-left: 15px;
}

.form-row {
  margin-left: 0px;
}  

.list-group {
  margin-top: 30px;
}

.list-group-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}
