body {
  background: url("../src/images/background.gif");
  background-size: 100%;
  margin: 15px;
  padding: 0;
  border: 0;
  color: white;
}

.show-filters {
  margin: 0;
  padding: 0 0 0 40px;
  font-size: 1.2em;
}

.remove-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
  font-size: 1.4em;
}

.name-filter,
.column-filter{
  padding: 35px;
  margin: 0;
}

.table {
  color: white;
  font-size: 1.1em;
}

